body {
    font-family: 'Noto Sans KR', sans-serif;
}
.chart-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    height: 320px;
}
@media (min-width: 768px) {
    .chart-container {
        height: 400px;
    }
}